h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .intro-header .page-heading h1,
  .intro-header .tags-heading h1,
  .intro-header .categories-heading h1 {
    font-size: 50px;
  }
}

.post-heading .post-meta a {
  color: #008aff;
}

.post-heading .post-meta a:hover {
  text-decoration: underline;
}

.blog-tags:before {
  content: "";
}
