h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .intro-header .page-heading h1,
  .intro-header .tags-heading h1,
  .intro-header .categories-heading h1 {
    font-size: 50px;
  }
}

.post-heading .post-meta a {
  color: #008aff;
  font-size: 14px;
}

.post-heading .post-meta a:hover {
  text-decoration: underline;
}

.blog-tags:before {
  content: "";
}

footer .footer-link {
  color: #008aff;
}

#avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url("/images/pfeilbr-gravatar.jpeg");

  /* make a square container */
  width: 125px;
  height: 125px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;

  margin: auto;
  max-width: 100%;
}

.pager li a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #fff;
  border-radius: 0;
  color: #008aff;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 0px;
  /* border-radius: 15px; */
}

.pager li a:hover,
.pager li a:focus {
  border: 0px;
  background: #fff;
  border-radius: 0;
  color: #008aff;
  text-decoration: underline;
}

h1:target,
h2:target,
h3:target,
h4:target {
  padding-top: 53px;
}

.post-preview .post-meta,
.post-heading .post-meta,
.page-meta {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  margin: 0 0 10px;
}

.post-preview .post-meta a,
.post-heading .post-meta a,
.page-meta a {
  color: #008aff;
  text-decoration: none;
}

.blog-tags {
  margin-top: 50px;
}

.blog-tags a:before {
  content: "";
}

.blog-tags a {
  color: #008aff;
  text-decoration: none;
  padding: 0px 0px;
}

.blog-tags a:hover {
  border-radius: 2px;
  color: #008aff;
  background-color: #fff;
}

.post-preview a:hover {
  text-decoration: underline;
}

#social-share .footer-links {
  font-size: 14px;
}
